:host{
	display: block;
	padding: 1em;
}
socket-graph-data-inner {
	display: block;
	overflow: hidden;
	resize: both;
	height: 400px;
	width: 100%;
}
socket-graph-data-inner canvas {
	cursor: move;
	border: 1px solid gray;
}
socket-graph-data-inner label{
	display: block;
}
.buttons{
	display: flex;
	flex-wrap: wrap;
}
.buttons>div{
	margin: 0.3em;
	border-radius: 0.25em;
}
.buttons>div:hover{
	background-color: antiquewhite;
}
.buttons>div>span{
	display: inline-block;
	padding: 0.2em;
}
.buttons label,
.buttons input{
	cursor: pointer;
}
.bottom-buttons{
	padding: 0;
	margin-left: 0;
	display: block;
}
.copy-button{
	cursor: pointer;
	display: inline-block;
	border: 1px solid gray;
	padding: 0.2em;
	border-radius: 0.5em;
	user-select: none;
}
.copy-button:hover{
	background-color: gainsboro;
}
