:host{
	display: block;
	padding: 1em;
}
socket-graph-data-inner {
	display: block;
	overflow: hidden;
	resize: both;
	height: 400px;
	width: 100%;
}
socket-graph-data-inner canvas {
	cursor: move;
	border: 1px solid gray;
}
socket-graph-data-inner label{
	display: block;
}
