:host{
	display: block;
}
socket-graph-data-inner {
	display: block;
	overflow: hidden;
	resize: both;
	height: 400px;
	width: 100%;
}
socket-graph-data-inner canvas {
	cursor: move;
	border: 1px solid gray;
}
