* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	background-color: ghostwhite;
}
div, header, main, footer {
	padding: 0;
	margin: 0;
}
main>* {
	width: 90%;
	margin: 2em auto;
	box-shadow: 1px 4px 16px -7px black;
	border-radius: 0.5em;
	background-color: white;
}

header{
	background-color: lavenderblush;
	border-top: 2px solid purple;
	box-shadow: 0px -3px 10px 0px black;
}
header h1{
	margin: 0;
	font-weight: normal;
}
footer{
	background-color: lavenderblush;
	box-shadow: 0px 3px 10px 0px black;
}
